<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<title>Snitch - <%=@app_name%></title>
	<%= stylesheet_link_tag 'mole' %>
	<%= javascript_include_tag :defaults %>	
	
  <%= periodically_call_remote :frequency => 10,
      :condition => "refresh_con == 1",
      :url       => refresh_url,
      :before    => "Element.show('loader')",
      :complete  => "Element.hide('loader')" %>
	<link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon"/>
</head>

<body id="body" onunload="refresh_con=false;">
	<div id="header">
		<div id="mole_logo"></div>  
	</div>

	<div id="title"><%= @app_name%></div>		
                                
	<div id="loader" style="display:none">
	  <span id="loader_text">Refreshing...</span>
	  <%=image_tag('rotor.gif', :alt => "") %>
  </div> 
       
  <div id="nav">
    <%= link_to_remote "Refresh", :url => refresh_url %> |           
	  <%= link_to "Graphs", :controller => "graphs"%> |
	  <%= link_to_function 'Refresh On', 'toggle_refresh();', :id => "refresh" %> |                                                                                      
	  <%= link_to_function 'Filters', "toggle_panel( 'filter_panel' )"%> |
	  <%= link_to_function 'Tops', "toggle_panel( 'top_panel' )"%> |
	  <%= toggle_details %>
  </div>
				 
	<div id="main"> 		          
		<div id="filter_panel" style="display:none">
			<%= render :partial => 'filter_form'%>
		</div>  
		<div id="top_panel" style="display:none">
			<%= render :partial => 'tops'%>
		</div>  		
		<div id="content">
			<%= yield %>
		</div>
	</div>    	  
</body>
</html>